<html>
	<body>
		<h1>RESTAURANTS</h1>

		{% with messages = get_flashed_messages() %}
		{% if messages %}

			<ul>
			{% for message in messages %}

				<li><strong>{{ message }}</strong></li>

			{% endfor %}
			</ul>

		{% endif %}

		{% endwith %}	

	<br><br>

		<a href = '{{url_for('newRestaurant') }}'>Add a Restaurant</a>

	<br><br>
		
		{% for restaurant in restaurants %}


		{{ restaurant.name }}
	<br>

		<a href = '{{url_for('editRestaurant', restaurant_id = restaurant.id) }}'>Edit Restaurant</a>
	<br>

		<a href = '{{url_for('deleteRestaurant', restaurant_id = restaurant.id) }}'>Delete Restaurant</a>	

	<br>
	<br> 
		
	
		{% endfor %}
	</body>
	
</html>				
